html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg-d: #000000;
  --text-d: #FFF;
  --frame-d: #ffffff7e;
  --frame-bg-d: #00000037;

  --frame-l: #000000;
  --frame-bg-l: #ffffff;

  --forum: rgba(0, 0, 0, 0.329);
  --icon-hover: #f1dada;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: var(--text-d);
  background-color: var(--bg-d);
  background-image: url(/assets/bg-main.jpg);
  background-size: cover;
  background-position: right;
}

.frame {
  height: 95%;
  width: 95%;
  border: .5px solid var(--frame-d);
  background-color: var(--frame-bg-d);
}

a {
  text-decoration: none;
  color: inherit;
}

/*** -----------------------------------Nav------------------------------------- ***/

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 25%;
}

/* -----------------------------------Title------------------------------------- */

.nav > .title {
  margin-top: 10px;
  margin-left: 20px;
}

.nav > .title > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  padding: 0 0 0 0;
  line-height: 0;
}

.nav > .title > p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 10px;
  line-height: 0;
}

.title-links {
  margin-top: 25px;
  font-size: 1.5em;
}

.title-icons {
  display: flex;
  gap: .9em;
  font-size: 1.5em;
  margin-top: 25px;
}

.title-icons > a > i:hover {
  color: var(--icon-hover);
  transition: .2s linear;

}

/* -----------------------------------Links------------------------------------- */

.nav > .links {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-right: 20px;
}

.icon-links {
  font-size: .8em;
  margin-left: 1em;
}

.nav > .links > ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.links > ul > li {
  margin: 15px 0;
}

.links > ul > li > a:hover {
  transition: .2s linear;
  color: var(--icon-hover);
}


/*** -----------------------------------Main------------------------------------- ***/

.main {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 75%;
}

.about {
  display: flex;
  text-align: right;
  width: 65%;
  line-height: 2.5;
  margin-right: 20px;
  margin-bottom: 50px;
}

.about-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: .01em;
}

/* @media (max-width: 768px) {
  html {
    
  }

  body {
    height: 100vh;
    width: 100vw;
  }

  .frame {
    height: 90vh;
  }
} */
