html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg-d: #91666a;
  --text-d: #FFF;
  --frame-d: #ffffff7e;
  --frame-bg-d: #00000037;

  --frame-l: #000000;
  --frame-bg-l: #ffffff;

  --forum: rgba(0, 0, 0, 0.329);
  --icon-hover: #f1dada;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: var(--text-d);
  background-color: var(--bg-d);
  background-image: url(/assets/bg-main.jpg);
  background-size: cover;
  background-position: right;
}

.frame {
  height: 95%;
  width: 95%;
  border: .5px solid var(--frame-d);
  background-color: var(--frame-bg-d);
}

a {
  text-decoration: none;
  color: inherit;
}

.opacity-transition {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/*** -----------------------------------Nav------------------------------------- ***/

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 25%;
}

/* -----------------------------------Title------------------------------------- */

.nav > .title {
  margin-top: 10px;
  margin-left: 20px;
}

.nav > .title > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  padding: 0 0 0 0;
  line-height: 0;
}

.nav > .title > p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 10px;
  line-height: 0;
}

.title-links {
  margin-top: 25px;
  font-size: 1.5em;
}

.title-icons {
  display: flex;
  gap: .9em;
  font-size: 1.5em;
  margin-top: 25px;
}

.title-icons > a > i:hover {
  color: var(--icon-hover);
  transition: .2s linear;

}

/* -----------------------------------Links------------------------------------- */

.nav > .links {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-right: 20px;
}

.icon-links {
  font-size: .8em;
  margin-left: 1em;
}

.nav > .links > ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.links > ul > li {
  margin: 15px 0;
}

.links > ul > li:nth-child(2) {
  color: var(--icon-hover);
}


.links > ul > li > a:hover {
  transition: .2s linear;
  color: var(--icon-hover);
}


/*** -----------------------------------Main------------------------------------- ***/

.main {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 75%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  width: 80%;
  margin-right: 20px;
  margin-bottom: 30px;
}

.projects > .header {
  letter-spacing: .025em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9em;
}

.projects > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.9em;
  letter-spacing: .025em;
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.projects > h1 > a:hover {
  color: var(--icon-hover);
  transition: 0.2s linear;
}

.projects > p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: .9em;
  letter-spacing: .025em;
  line-height: 0;
  margin-block-start: .2em;
  margin-block-end: .7em;
}


.project-year {
  font-weight: 700;
}

.icon {
  font-size: .85em !important;
  margin-left: 10px;
}

.square {
  position: relative;
  bottom: 4px;
  font-size: .5em;
  margin-right: 5px;
  color: var(--icon-hover);
}

@media (max-width: 768px) {

  body {

  }
  main {

  }

  .mask-top {
    height: 2.5vh;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
  }

  .mask-bottom {
    height: 15vh;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
  }
}
